# Pengantar Python for Data Analytic

## Data science
### Apa itu Data Science ?


<img src="https://haikawanku.files.wordpress.com/2018/07/data-scientist-the-sexiest-job-of-the-21st-century-2-638.jpg?w=634" width="400"/>


**Data science dalam diagram Vern**
> Diagram Venn merupakan diagram yang umum digunakan untuk menunjukkan keterhubungan antar kelompok.

<details>
<img src="https://miro.medium.com/max/1400/1*lws-OQOODF-wP9XLH1NDHQ.png" width="500" height="500"/>
</details>

### Apa perbedaan dengan pekerjaan lain di bidang data?
<details>
<img src="https://i.ibb.co/Wc9bC59/data-enginer-datascientis.jpg">
</details>


### Tools yang digunakan
<details>
<img src="https://miro.medium.com/max/1400/1*y7Vw9-vTnbWSNaXfyurBSg.png" width="800">
</details>


> Sumber: 
1. https://towardsdatascience.com/the-data-science-internship-hunt-a-fortune-500-story-534e21bae055
2. https://en.wikipedia.org/wiki/Venn_diagram
3. https://medium.com/@datadrivenscience/data-science-terms-explained-part-i-9eaf2cae6b16
4. https://towardsdatascience.com/top-20-most-popular-tools-for-data-science-93c5618893a4
5. https://realpython.com/

# Python
## Apa itu Python
Python adalah bahasa pemrograman tujuan umum yang ditafsirkan, tingkat tinggi. Dibuat oleh Guido van Rossum dan pertama kali dirilis pada tahun 1991, filosofi desain Python menekankan keterbacaan kode dengan penggunaan spasi putih yang signifikan. Konstruksi bahasanya dan pendekatan berorientasi objek bertujuan untuk membantu pemrogram menulis kode yang jelas dan logis untuk proyek skala kecil dan besar.

## Kenapa harus Python?
1. ðŸ“Š banyak digunakan dalam berbagai projek khususnya dalam analisis data.
2. ðŸ“– memiliki dokumentasi yang lengkap dan komunitas yang aktif.
3. ðŸŽ“ dikenal dengan bahasa pemrograman yang mudah dipelajari, memiliki sintaks yang rapi, dan mudah dipahami.

<details>
<img src="https://i1.faceprep.in/Companies-1/hello-world-in-python.png" width="800">
</details>

> Python environment (libraries):
<details>
<img src="https://pydsc.files.wordpress.com/2017/11/pythonenvironment.png?w=640" width="800">
    
</details>

## Rekomendasi bacaan
1. [Automate Boring Stuff with Python](https://automatetheboringstuff.com/) oleh Al Sweigart.
2. [A Whirlwind Tour of Python, Python Data Science Handbook](https://jakevdp.github.io/pages/about.html) oleh Jake VanderPlas.
3. [W3School](https://www.w3schools.com).
4. [Youtube_video](https://www.youtube.com/watch?v=GPVsHOlRBBI).
5. [realpython](https://realpython.com/)

# Instalasi Python

Offline path:
1. Install [Anaconda](https://www.anaconda.com).
2. Buka ```Anaconda Navigator```.
3. Pilih ```Jupyter Notebook```.

Online path:
1. [Google Colab](https://colab.research.google.com/). Tidak membutuhkan kemampuan hardware yang bagus.
2. [Kaggle](https://www.kaggle.com). Terdapat banyak data, contoh coding, dan komunitas.

# Basic Python
Agenda (Hari Pertama) :
1. ```Sintax``` dasar.
2. ```Tipe data``` (variable, math, list, tuple, dictionary).
3. ```Indexing dan slicing```.
4. ```Functions```.

In [1]:
#mari kita mulai
print('Hello World!')

Hello World!

## Sintax dasar

> Sintaks dalam python bertujuan untuk memastikan kode yang dibuat mudah untuk dibaca dan dipahami. Artinya ada standar penulisan yang digunakan, dalam hal ini [PEP 8 - Style Guide for Python Code](https://pep8.org/).

Beberapa hal dasar yang perlu dipahami:
1. Penulisan komentar.
2. Indentasi.
3. Penggabungan code.
3. Penamaan variable.

In [2]:
# komentar
# membuat variable bernama x        # > ini merupakan contoh dari komentar
x = 2

# indentasi
# membuat if else statement
# jika value dalam x tidak sama dengan dua
# maka print 'Tidak Sama'
# jika sama
# maka print 'Sama'
if x != 2:
    print("Tidak Sama")             # > ini merupakan contoh dari indentansi
else:
    print("Sama")

Sama

In [3]:
# penggabungan code
# pertama variable bernama y
# kemudian print variable y
# digabungkan menggunakan semicolon (;)
y = 3; print(y)

3

In [4]:
# penamaan variable
# bisa menggunakan kombinasi uppercase dan lowercase
# tidak bisa dimulai dengan angka
# antar kata bisa dihubungkan dengan underscore (_)
nama_lengkap = 'Gede James'  # kombinasi lowercase dengan underscore
namalengkap  = 'James Gede'  # hanya lowercase
NamaLengkap  = 'james gede'  # kombinasi uppercase dan lowercase

## Tipe data

<details>
<img src="https://miro.medium.com/max/631/1*8J9yViDiXqNYeEWctWkdfQ.jpeg" width="800">
</details>

bagaimana cara untuk mengecek tipe data?

In [5]:
type("budi")

str

In [6]:
type(10.01)

float

---
**Latihan**

In [1]:
# Coba cek tipe dari angka 1001

int

### Variable

> [Lokasi memori yang dicadangkan untuk menyimpan values](https://www.w3schools.com/python/python_variables.asp).

Variabel adalah nama yang dilampirkan ke objek tertentu. Untuk membuat variabel dalam python cukup menetapkan nilai dan kemudian mulai menggunakannya. Penugasan dilakukan dengan satu tanda sama dengan (=):

Beberapa hal dasar yang perlu dipahami:
1. Cara membuat variable.
2. Overwrite variable dan interaksinya.
3. Multiple assignment.

In [8]:
# membuat variable A
A = 2
# dibaca A diberi nilai 2

In [9]:
# untuk melakukan fungsi print, value apa saja yang tersimpan di dalamnya
# bisa menggunakan print(A)
# atau langsung ketik A
A

2

In [10]:
print(A)

2

In [11]:
# print tanpa command print hanya dapat dilakukan jika dipanggil pada baris terakhir di cell Jupyter Notebook
A
B = 'tugas baru'
B

'tugas baru'

In [12]:
# cek apakah jika kita melakukan overwrite atas A
# value apa yang tersimpan di dalamnya
# perhatikan interaksinya
A = 'Python for Data Analytics'
print(A)

Python for Data Analytics

In [13]:
# multiple assignment
# biasanya akan ditulis beruntun
A = 1
B = 2
print(A)
print(B)

# kita akan melakukan overwrite kembali
# perhatikan cara penulisan multiple assignment yang lain
# A, B = 3, 5
# print(A)
# print(B)

1
2

> Secara resmi, nama variabel dalam Python dapat memiliki panjang berapa pun dan dapat terdiri dari huruf besar dan huruf kecil (A-Z, a-z), angka (0-9), dan karakter garis bawah (_). 

> Batasan tambahan adalah bahwa nama variabel hanya dapat **dimulai** dengan huruf atau garis bawah dan disarankan untuk tidak menggunakan **nama-nama** dari fungsi atau variable bawaan python basic (print, str, type, etc)

In [14]:
_judul = 'Python for Data Analytics'
print(_judul)

Python for Data Analytics

In [15]:
2judul = 'Python for Data Analytics'
print(2judul)

SyntaxError: invalid syntax (Temp/ipykernel_6204/3484074762.py, line 1)

In [16]:
judul2 = 'Python for Data Analytics'
print(judul2)

Python for Data Analytics

> terkait penamaan variabel bisa dibaca lebih lanjut pada https://peps.python.org/pep-0008/

### Operators and Expressions
> dalam python operator adalah **simbol khusus** yang menunjukkan bahwa beberapa jenis perhitungan harus dilakukan. Nilai yang dijalankan oleh operator disebut **operand**.

> Urutan operan dan operator, seperti a + b - 5, disebut **ekspresi**.

#### Arithmetic operator (Operator Aritmatika)

> Gunakan kurung untuk memastikan arithmetic operator dijalankan terlebih dahulu.

| Operator | Deskripsi | Contoh | 
| :-: | :-- | :-:|
| `**`| Pangkat | `x ** 2`|
| `*`| Perkalian | `x * 4` | 
| `/`| Pembagian | `x / 5` | 
| `//`| Pembagian Bulat (floor Division) | `x // 3` |
| `%`| Sisa Bagi (modulo) | `x % 2`| 
| `+`| Penjumlahan | `x + y` | 
| `-`| Pengurangan | `x - y` |

In [17]:
5**2

25

In [18]:
5*2

10

In [19]:
10/2

5.0

In [20]:
13//2

6

In [21]:
13%2

1

In [22]:
4+5

9

In [23]:
9-5

4

In [24]:
12*1.4

16.799999999999997

In [25]:
# menjumlahkan nilai pada variable A dan B
A = 1
B = 2
C = A + B
print(C)
print(type(C))

3
<class 'int'>

---
**Latihan**

In [26]:
# Hitunglah 25 pangkat 5

In [27]:
# Hitunglah akar kuadrat dari 169

In [28]:
# Hitunglah pembagian bulat dari 17 dengan 5

In [29]:
# Hitunglah pembagian bulat dan sisa bagi dari 97 dengan 3

##### Urutan Operasi Aritmatik

Setiap operasi Aritmatik di dalam python memiliki urutan dalam pengoperasiannya. Jika dalam satu ekpression terdapat lebih dari satu operasi, maka kode akan di eksekusi berdasarkan operasi yang lebih tinggi prioritasnya.

<br>
<br>

| Operator|Simbol |
| :-: | :-- |
| Tanda Kurung|( )|
| Pangkat|**|
| kali, bagi, pembagian (dengan output pembulatan kebawah), hasil sisa pembagian| * , / , //, %|
| Tambah, Kurang| + , - |

<br>
<br>

In [30]:
5/5+5**5*5

15626.0

#### Comparison operator

> Digunakan untuk membandingkan antara dua nilai. Menghasilkan nilai boolean (`True` atau `False`).

| Operator | Deskripsi | Contoh | 
|:-:|:--|:-:|
|`==`|`sama dengan`|`x == y`|	
|`!=`|`tidak sama dengan`|`x != y`|
|`>`|`lebih dari`|`x > y`|
|`<`|`kurang dari`|`x < y`|	
|`>=`|`lebih dari atau sama dengan`|`x >= y`|	
|`<=`|`kurang dari atau sama dengan`|`x <= y`|

In [31]:
A = 10
B = 10
print(A==B)
print(A>B)

True
False

In [32]:
A = "PYTHON"
B = "PYTHON"
A==B

True

In [33]:
A = "python"
B = "PYTHON"
print(A==B)
print(A!=B)

False
True

#### Logical operator

> Digunakan untuk mengkombinasikan nilai boolean.

| Operator | Deskripsi | Contoh | 
|:-:|:--|:-:|
|`not`|	Membalik nilai boolean, menghasilkan nilai `False` jika peryataan bernilai `True` dan sebaliknya	|`not(x < y)`|
|`and`| Menghasilkan `True` hanya jika kedua pernyataan bernilai `True`	|`x < 5 and  x < 10`|
|`or`|	Menghasilkan `True` jika salah satu pernyataan bernilai `True`	|`x < 5 or x > 4`|

In [34]:
x = 5

In [35]:
x < 10

True

In [36]:
not x < 10

False

Boolean Logic

| Condition 1 | Condition 2 | AND  | OR   |
|-------------|-------------|------|------|
| TRUE        | TRUE        | TRUE | TRUE |
| TRUE        | FALSE       | FALSE| TRUE |
| FALSE       | TRUE        | FALSE| TRUE |
| FALSE       | FALSE       | FALSE| FALSE|

In [37]:
x > 2 and x < 4

False

In [38]:
x > 2 or x < 4

True

### Strings

untuk deklarasi strings dalam python digunakan tanda kutip (' atau ")

In [39]:
print("Hello World")

Hello World

In [40]:
print('Hello World')

Hello World

bagaimana kalo strings kita terdapat tanda kutip didalamnya?

In [41]:
#cara yang salah
"kata Budi"hai""

SyntaxError: invalid syntax (Temp/ipykernel_6204/3139409134.py, line 2)

In [42]:
#cara yang benar
'kata budi:"hai"'

'kata budi:"hai"'

#### Strings Operations

##### Penggabungan String

In [43]:
print("halo" + "semua")

halosemua

In [44]:
print("halo" + " " + "semua")

halo semua

In [45]:
print("halo","semua")

halo semua

bagaimana kalo kita ingin menambah angka kedalam teks kita?

In [46]:
print("Umur Saya" + 25)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print ("Umur Saya",25)
print ("Umur Saya " + str(25))
print ("Umur Saya %s " % 25)

In [ ]:
#kita juga bisa mengalikan string dengan angka yang akan menampilkan string sebanyak angka
print("halo "*5)

#### String Methods

> Semua metode string mengembalikan nilai baru. Mereka tidak mengubah string asli.

|Metode|Deskripsi|
| :-: | :-: | 
|capitalize()| Mengubah karakter pertama menjadi huruf besar|
|title()|Mengubah huruf pertama pada setiap kata menjadi huruf besar|
|lower()|Mengubah semua karakter  menjadi huruf kecil|
|upper()|Mengubah semua karakter menjadi huruf besar|
|strip()|Menghilangkan spasi berlebih|
|lstrip()|Menghilangkan spasi berlebih pada bagian kiri string|
|rstrip()|Menghilangkan spasi berlebih pada bagian kanan string|
|split()|Memotong string pada karakter yang ditentukan, dan dioutput sebagai list|

sumber: https://www.w3schools.com/python/python_ref_string.asp

In [2]:
A = 'python for data analytics'
A.capitalize()

'Python for data analytics'

In [3]:
A.title()

'Python For Data Analytics'

In [4]:
A.upper()
A = A.upper()

In [5]:
A

'PYTHON FOR DATA ANALYTICS'

In [6]:
A.lower()

'python for data analytics'

In [7]:
A = '    python for data analytics   '
A.strip()

'python for data analytics'

In [8]:
A.lstrip()

'python for data analytics   '

In [9]:
A.rstrip()

'    python for data analytics'

In [10]:
A = 'python for, data analytics'
A.split(',')

['python for', ' data analytics']

---
**Latihan**

In [11]:
#gabungkan ketiga variabel tersebut menjadi 'Python For Data Analytics' (perhatikan huruf kapital)
A = 'PYTHON'
B = 'for'
C = 'Data Analytics'

print(.......)

SyntaxError: invalid syntax (2761512633.py, line 6)

### DataTypes

Terdapat empat built-in data types yang digunakan untuk menyimpan data di Python 
1. List,
2. Tuple, 
3. Set,
4. Dictionary

Perbedaan dari keempat tipe data di atas adalah :

| **Pembeda**           | **List**          | **Tuple**              | **Set**                 | **Dictonary**                                |
|:------------------|:--------------|:-------------------|:--------------------|:-----------------------------------------|
| Bentuk            | [a,b,c]       | (a,b,c)            | {a,b,c}             | {a:x, b:y, c:z}                          |
| Duplikasi Item    | Diperbolehkan | Diperbolehkan      | Tidak diperbolehkan | Tidak diperbolehkan (kunci maupun nilai) |
| Order/Unordered   | Ordered       | Ordered            | Unordered           | Unordered                                |
| Keterubahan Nilai | Dapat Diubah  | Tidak Dapat Diubah | Dapat Diubah        | Dapat Diubah                             |

### List

> Untuk menyimpan lebih dari satu value dalam satu variabel. Value dapat diakses menggunakan indeks urutan serta nilai dalam list dapat ditamba, dihapus, dan diubah. List ditandai dengan penggunaan ```[]```.

In [55]:
# membuat list dengan value tipe data int
int_list = [1, 2, 3, 4, 5]
print(int_list)
print(type(int_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [56]:
# membuat list dengan value tipe data str
str_list = list(('a', 'b', 'c', 'd'))
print(str_list)
print(type(str_list))

['a', 'b', 'c', 'd']
<class 'list'>

In [57]:
# list juga mampu menampung value dengan tipe data berbeda
mix_list = [1, 2, 'a', 'b']
print(mix_list)
print(type(mix_list))

[1, 2, 'a', 'b']
<class 'list'>

In [58]:
# list kemudian mampu menampung list dalam list
list_inlist =  [1, 2, [2.6, 8], 'a']
print(list_inlist)
print(type(list_inlist))

[1, 2, [2.6, 8], 'a']
<class 'list'>

List dapat dimodifikasi menggunakan ```method```. Berikut method umum yang disediakan oleh Python:

|Method| Deskripsi|Contoh |Hasil |
|:--|:--|:--|:--|
|append()|	Menambahkan elemen ke dalam list pada urutan paling belakang | `lst.append('N')` | `lst = ['Y', 'O', 'S', 'A', 'N']`|
|clear()|	Menghapus seluruh elemen dalam list | `lst.clear()` | `lst = []`
|copy()|	Menghasilkan kopi dari list | `lst2 = lst.copy()` | `lst2 = ['Y', 'O', 'S', 'A']`|
|count()|	Menghasilkan jumlah elemen dalam satu list | `lst.count('Y')` | `1` |
|extend()|	Menggabungkan elemen iterabel ke dalam list | `lst.extend(['N', 'G'])` | `lst = ['Y', 'O', 'S', 'A', 'N', 'G']`|
|index()|	Menemukan lokasi pertama suatu elemen dalam list | `lst.index('S')` | `2` |
|insert()|	Menambahkan elemen ke dalam posisi tertentu dalam list | `lst.insert(3, 'I')` | `lst = ['Y', 'O', 'S', 'I', 'A']`|
|pop()|	Menghapus elemen list yang berada dalam posisi terkait | `lst.pop(2)` | `lst = ['Y', 'O', 'A']`|
|remove()|	Menghapus item pertama dengan nilai tertentu dalam suatu list | `lst.remove('O')` | `lst = ['Y', 'S', 'A']`|
|reverse()|	membalik urutan list | `lst.reverse()` | `lst = ['A', 'S', 'O', 'Y']` |
|sort()|	Mengurutkan elemen list | `lst.sort()` |`lst = ['A', 'O', 'S', 'Y']`|

In [59]:
# kita akan mencoba menambah value ke dalam list menggunakan .append()
int_list = [1, 2, 3, 4, 5]
int_list.append(0)

In [60]:
print(int_list)

[1, 2, 3, 4, 5, 0]

In [61]:
# kita akan mencoba mengurutkan value di dalam list menggunakan .sort()
int_list.sort()

In [62]:
print(int_list)

[0, 1, 2, 3, 4, 5]

In [63]:
# kita akan mencoba mengalikan variable int_list
int_list *= 3
print(int_list)
# list yang dihasilkan, bukan mengalikan masing-masing value di dalam int_list sebanyak 3 kali
# tapi melakukan pengulangan print valuenya sebanyak 3 kali

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

### Tuple

> Kumpulan objek Python seperti ```list```, namun tidak dapat diubah nilainya setelah didefinisikan (immutable). Tuple ditandai dengan penggunaan ```()```.

In [64]:
int_tuple = (1, 2, 3, 4, 5)
print(int_tuple)
print(type(int_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [65]:
# walaupun tuple itu immutable
# kita bisa merubah tipenya menjadi list, dictionary, dsb
# kita akan mencoba merubah int_tuple menjadi list
list_int_tuple = list(int_tuple)
print(list_int_tuple)
print(type(list_int_tuple))

[1, 2, 3, 4, 5]
<class 'list'>

### Set

> Kumpulan object Python yang memiliki nilai unik ```(tidak menerima duplikasi)``` dan elemennya tidak dapat diakses dengan indeks.

In [66]:
# perhatikan interaksi yang terjadi
# kita akan membuat variable set dengan value yang duplicate di dalamnya
int_set = set((1, 1, 2, 2, 3, 3))
print(int_set)
print(type(int_set))

{1, 2, 3}
<class 'set'>

Set dapat dimodifikasi menggunakan ```method```. Berikut method umum yang disediakan oleh Python:

|Method| Deskripsi|Contoh |
|:--|:--|:--|
|add()|	Menambahkan elemen ke dalam set pada urutan paling belakang | `a.update(6)` |
|clear()|	Menghapus seluruh elemen dalam set | `a.clear()` |
|remove()|	Menghapus elemen  tertentu dalam suatu set | `lst.remove('O')` | `lst = ['Y', 'O', 'S', 'A']`|
|update()|	Menambahkan iterable ke dalam set | `a.update([5, 6, 7])` |

In [67]:
# kita akan mencoba menghapus value menggunakan .remove()
int_set.remove(1)
print(int_set)

{2, 3}

### Dictionary

> Kumpulan object yang terdiri dari pasangan key (unik) dan value (nilai). Nilai dapat berupa text, number, boolean, maupun list. Dictionary ditandai dengan penggunaan ```{}```.

In [68]:
num_of_employee = {'SETJEN' : 2665, 'DJP' : 45960, 'ITJEN': 715, 'DJPK': 547}

In [69]:
# kita akan mencoba
print(type(num_of_employee))

<class 'dict'>

In [70]:
# kita dapat mengakses nilai(value) dari key tertentu dengan cara berikut
print(num_of_employee['SETJEN'])

2665

In [71]:
# kemudian kita bisa melakuan mengakses key dan value di dalam dictionary menggunakan looping
for key, value in num_of_employee.items():
    print(key)

SETJEN
DJP
ITJEN
DJPK

In [72]:
# kemudian kita bisa melakuan mengakses key dan value di dalam dictionary menggunakan looping
# looping akan dibahas lebih dalam kemudian
for key, value in num_of_employee.items():
    print(value)

2665
45960
715
547

In [73]:
# jika kita ingin menambahkan key dan value baru ke dalam dictionary
num_of_employee['BPPK'] = 1200

num_of_employee

{'SETJEN': 2665, 'DJP': 45960, 'ITJEN': 715, 'DJPK': 547, 'BPPK': 1200}

Dictionary dapat dimodifikasi menggunakan ```method```. Berikut method umum yang disediakan oleh Python:

|Method| Deskripsi|Contoh |Hasil |
|:--|:--|:--|:--|
|clear()|	Menghapus seluruh elemen dalam dictionary | `thisdict.clear()` | `thisdict = {}`|
|copy()|	Menghasilkan kopi dari dictionary | `thisdict2 = thisdict.copy()` | `thisdict2 = {'SETJEN' : 2665, 'DJP' : 45960, 'ITJEN': 715, 'DJPK': 547}`|
|fromkeys()|	Membuat dictionary dari keys dan value yang telah ditetapkan | `thisdict = dict.fromkeys(keys, value)` | `thisdict = {'key1': value, 'key2': value, 'key3': value}` |
|get()|	Mendapatkan value dari sebuah key | `thisdict.get('SETJEN')` | `2665`|
|items()|	Menampilkan  pasangan key dan value dalam dictionary | `thisdict.items()` | `dict_items([('SETJEN', 2665), ('DJP', 45960), ('ITJEN', 715), ('DJPK', 547)])` |
|keys()|	Menampilkan  keys dalam dictionary | `thisdict.keys()` | `dict_keys(['SETJEN', 'DJP', 'ITJEN', 'DJPK'])`|
|pop()|	Menghapus elemen dictionary yang mempunyai key terkait | `thisdict.pop('DJPK)` | `thisdict = {'SETJEN': 2665, 'DJP': 45960, 'ITJEN': 715}`|
|popitem()|	Menghapus pasangan key-value terakhir | `thisdict.popitem()` | `thisdict = {'SETJEN': 2665, 'DJP': 45960}`|
|setdefault()|	Mendapatkan value dari sebuah key jika sudah ada, jika belum ada, menambah key tersebut ke dictionary dengan  value yang ditentukan | `thisdict.setdefault('MENTERI', 1)` | `thisdict = {'SETJEN': 2665, 'DJP': 45960, 'MENTERI': 1} ` |
|update()|	Memasukkan items (key-value) ke dictionary | `thisdict.update({'DJA' : 1000})` |`thisdict = {'SETJEN': 2665, 'DJP': 45960, 'MENTERI': 1, 'DJA': 1000}`|
|values()|	Menampilkan values dalam dictionary | `thisdict.values()` |`dict_values([2665, 45960, 1, 1000])`|

## Indexing dan slicing

### Indexing

> Posisi atas value, Python mengenal bahwa indeks pertama adalah ```0``` bukan ```1```.

In [74]:
#contoh kita akan membuat sebuah list
int_list = [1, 2, 3, 4, 5, 0]
print(int_list)

[1, 2, 3, 4, 5, 0]

In [75]:
# kita akan mencoba print indexing pertama dari int_list
print(int_list[0])

1

In [76]:
# kita akan mencoba mencari indexing terakhir dari int_list
print(int_list[-1])

0

In [77]:
#hal yang sama juga bisa dilakukan pada type data string
text = "PYTHON"
print(text)

PYTHON

In [78]:
print(text[1])

Y

In [79]:
print(text[-2])

O

### Slicing

> Penampilkan jarak antar value, konsepnya mirip dengan ```Indexing```. Indexing start dimulai sesuai indexnya, sedangkan indexing end diakhiri index -1.

In [80]:
#contoh kita akan membuat sebuah list
int_list = [1, 2, 3, 4, 5, 0]
print(int_list)

[1, 2, 3, 4, 5, 0]

In [81]:
# kita akan mencoba print slicing dari index pertama ke kedua
# ingat bahwa python memulai indexnya dari 0
# maka untuk indexing start = 0, sedangkan indexing end = 2
print(int_list[0:2])

[1, 2]

In [82]:
# kita akan mencoba melakukan print slicing dari index kedua, sampai akhir
print(int_list[1:])

[2, 3, 4, 5, 0]

In [83]:
# kita akan mencoba melakukan print slicing keseluruhan value, sebelum index kelima
# perhatikan interaksi yang terjadi
# bandingkan dengan slicing sebelumnya
print(int_list[:5])

[1, 2, 3, 4, 5]

Python membaca slicing ```int_list[start:stop:skip]```.